$border-radius-md: 24px;
$border-radius-sm: 12px;
$border-radius-xs: 8px;
$contact-font-size: 24px;
$spacing-md: 24px;
$large-font-size: 32px;

.contact {
  display: flex;
  justify-content: center;
  margin-top: 124px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  width: 30em;
  height: 28em;
  border-radius: $border-radius-md;
  background-color: #365c90;
  color: white;
  .title {
    font-size: $large-font-size;
  }
  .name,
  .email {
    font-size: $contact-font-size;
  }
  .form_input {
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: $border-radius-xs;
    border: none;
  }

  .submit {
    margin-top: $spacing-md;
    input[type="submit"] {
      padding: 8px 16px;
      border-radius: $border-radius-sm;
      -webkit-border-radius: $border-radius-sm;
      -moz-border-radius: $border-radius-sm;
      -ms-border-radius: $border-radius-sm;
      border: none;
      text-decoration: none;
    }
  }
}
