@use "../styles/mixin.scss" as var;

* {
  margin: 0;
  padding: 0;
}
body,
html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: gray;
  }
}

.footer {
  width: 100%;
  background-color: var.$colorSecondary;
  color: var.$colorDarkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.developer {
  font-weight: 800;
  color: blue;
}
