@use "../styles/mixin.scss" as var;
.wrapper {
  @media screen and (max-width: 900px) {
    height: 100%;
  }
  position: relative;
  height: 40rem;
}

.backgroundImg {
  @media screen and (max-width: 900px) {
    position: relative;
  }
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  img {
    height: 100%;
    width: 100%;
  }
}

.heroBanner {
  @media screen and (max-width: 900px) {
    padding: 16px;
    .landingText {
      color: black;
    }
  }
  padding: 4rem 8rem;
  font-size: 24px;
  color: var.$colorSecondary;
  text-align: center;
}
.subTitle {
  color: var.$colorDarkBlue;
  padding-bottom: 2.5rem;
}
