$colorPrimary: #365c90;
$colorSecondary: #ffffff;
$colorDarkBlue: #5488c0;
$colorLightBlue: #729acf;
$colorBlack: #000000;

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
